<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>deal table</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <style>
        #data-table {
            width: 50%;
            margin: 0 auto;
        }

        textarea {
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div id="data_table">
    <table class="table table-hover table-primary">
        <thead>
        <tr>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>جنسیت</th>
            <th>تاریخ تولد</th>
            <th>ایمیل</th>
            <th>شهر</th>
            <th>شماره تلفن</th>
            <th>نام کاربری</th>
            <th>رمز عبور</th>
            <th>کد ملی</th>
            <th>نام ماشین</th>
            <th>رنگ</th>
            <th>نام برند</th>
            <th>سال ساخت</th>
            <th>قیمت</th>
            <th>نقش</th>
            <th>تاریخ معامله</th>
        </tr>
        </thead>

        <tbody>
        {% for deal in deal_list %}
            <tr onclick="show_data('deal_info')">
                <td>{{ deal.name }}</td>
                <td>{{ deal.family }}</td>
                <td>{{ deal.gender }}</td>
                <td>{{ deal.birth_date }}</td>
                <td>{{ deal.email }}</td>
                <td>{{ deal.city }}</td>
                <td>{{ deal.phone }}</td>
                <td>{{ deal.username }}</td>
                <td>{{ deal.password }}</td>
                <td>{{ deal.user_id }}</td>
                <td>{{ deal.car_name }}</td>
                <td>{{ deal.color }}</td>
                <td>{{ deal.brand }}</td>
                <td>{{ deal.year }}</td>
                <td>{{ deal.price }}</td>
                <td>{{ deal.role }}</td>
                <td>{{ deal.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{#<div>#}
{#    <label for="address">آدرس</label> <br>#}
{#    <textarea name="address" id="address" cols="30" rows="2"></textarea> <br><br>#}
{#    <label for="description">توضیحات</label> <br>#}
{#    <textarea name="description" id="description" cols="30" rows="2"></textarea>#}
{#</div>#}
{#<script>#}
{#    function show_data(id) {#}
{#        document.getElementById("address").value = "Show Address"#}
{#        document.getElementById("description").value = "Show Description"#}
{#    }#}
{#</script>#}
</body>
</html>