{% extends "template.html" %}

{% block title %}
    خانه
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
    <div>
                <h2 class="mb-5 text-center">صفحه نخست</h2>

        <h3>
            .سایت فروش خودرو لوکس اسپید با تجربه بیش از یک سال فعالیت در بازار ماشین های لوکس است
            .این شرکت خدماتی همچون معامله امن، آسان و فوری را برای فروشندگان و خریداران خودروهای لوکس و به روز فراهم
            کرده
            است
            .خودرو اسپید توانسته است با بهره‌گیری از متد روز بازار، تجربه معامله امن را هم برای خریدار ماشین لوکس و هم
            فروشنده خودرو های به روز رقم بزند
        </h3>

        <h4>
            <ul>
                <li>فروش امن</li>
                <li>قیمت منصانه</li>
                <li> حمل و انتقال آسان</li>

            </ul>

        </h4>
        <h2></h2>
        <img src="{{ url_for('static', filename='pics/benz.jpg') }}" width="600" height="300" alt="">

    </div>
{% endblock %}
