<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stuff table </title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style2.css">
    <style>
        #data-table {
            width: 60%;
            margin: auto;
        }

        textarea {
            border-radius: 5px;
        }
    </style>
</head>
<body>

<div id="data-table">
    <table class="table table-hover table-primary">
        <thead>
        <tr>
            <th>نام ماشین</th>
            <th>رنگ</th>
            <th>نام برند</th>
            <th>سال ساخت</th>
            <th>قیمت</th>
         </tr>
        </thead>
         <tbody>
        {% for stuff in stuff_list %}
            <tr onclick="show_data('stuffinfo')">
                <td>{{ deal.car_name }}</td>
                <td>{{ deal.color }}</td>
                <td>{{ deal.brand }}</td>
                <td>{{ deal.year }}</td>
                <td>{{ deal.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <label for="description">توضیحات</label> <br>
    <textarea name="description" id="description" cols="30" rows="2"></textarea>
</div>
<script>
    function show_data(id) {
        document.getElementById("description").value = "Show Description"
    }
</script>
</body>
</html>